body{
    background-color: #DDFEFE;
}


a:hover{
    font-size: 20px;
}
#voltar:hover{
    font-size: 40px;
}

/* Estilo para os botões */
#select_button {
    margin: 5px;
    padding: 10px;
    background-color: #c1ce5b;
    border: none;
    cursor: pointer;
  }
  
  /* Estilo para o botão selecionado */
  button.selected {
    background-color: #e81313;
  }


#titulo{
    color: white;
}

#pergunta{
    color: white;
}

#resultado{
    font-size: 30px;
}

#imagem{
    align-self: center;
    width: 120px;
    height: 120px;
}

#caixa{
    background-color: #5CCEEE;
    border: green solid;
    border-radius: 5px;
}